body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
/*I have used in this exercise , 
The :nth-of-type(n) selector matches every element that is the nth child, 
of a particular type, of its parent.

~ --- > The general css combinator
 so when a radio-button no.1 is selected with photo number 1 , 
 display-inline is applied instead of initial value display:none  */

.slide-bar:nth-of-type(1):checked ~ .slide-photo:nth-of-type(1),
.slide-bar:nth-of-type(2):checked ~ .slide-photo:nth-of-type(2),
.slide-bar:nth-of-type(3):checked ~ .slide-photo:nth-of-type(3) {
  display: inline-block;
}
/*hide the radio buttons because we are going to use their labels to check them */
input[type="radio"] {
  display: none;
}
#slide-show {
  margin: auto;
  text-align: center;
}
#slide-show .container {
  background-color: grey;
  padding: 15px;
  margin: 20px;
  width: auto;
  height: 200;
}
/*remove the default dots form the unordered list items*/
li {
  list-style: none; /*remove the default list style */
  padding: 0;
  display: none; /*initial value is none*/
}
ul {
  text-align: center;
  position: relative;
}
/*we will use labels to check radio buttons*/
label {
  background: black;
  padding: 15px;
  border-radius: 50%; /*to make it look like circles*/
  display: inline-block; /*inline side by side and still having the block formatting*/
}
.labels-radio {
  display: inline-block;
  text-align: center;
}
