/* The only reset you’ll ever need */

/*General*/

body {
   font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  /* background-color:#f4f4f4;  hexidecimal for gray */
  background-color:hsl(60, 22%, 90%);
}


/*Card container style , display grid model with a repeat of 2 cards per row of width 390 and a gap of 30px o*/
#card-container
{
  margin-top:20px;
  display:grid;
  grid-template-columns: repeat(2,390px);
  grid-gap:30px;
  margin-left: 100px;
  
}
/*Style card */
#card-container .card
{
  
  box-shadow: 0px 1px 5px #555;
  background-color: white;
  align-content: center;
  text-align: center;
  height: 69vh;
  
}
/*span for star image*/
.card_span
{
  vertical-align: sub;
  font-size: 10px;
  color:rgb(212, 176, 14);
 
}
.card_img
{
  width:9px; 
  height:9px;

}
#card-container .card_thum
{
  float:left ;
  width:5vh;
  height:5vh;
  position: relative;

}
#card-container .card_title
{
 height:6vh;
 width:30vh;
 float:left;
 position:relative;
 text-align: left;
}
.card_subtitle{
  padding:0;
  margin:0;
  color: rgb(136, 127, 127);
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  text-align: left;
}
/*Description style for middle text*/
#card-container .card_desc
{
   margin:30px;
  padding-top: 30px;
  width:auto;
  text-align: left;
  height:30vh;

}
.btn {
  border: none; /* Remove borders */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  float:right;
  margin-top: 5px;
  width:25vh;
  margin: 5px;
  bottom: 0;
  display: absolute;
}

.ok {background-color: #2196F3;color:white;} /* Blue */
.ok:hover {background: #0b7dda;}
.nope {background-color:gray;color:black ;} /* Blue */
.nope:hover {background: #0b7dda;}